<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

  <!-- title -->
  <title>Cart</title>

  <!-- favicon -->
  <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">
  <!-- google font -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- fontawesome -->
  <link rel="stylesheet" href="/assets/css/all.min.css">
  <!-- bootstrap -->
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <!-- owl carousel -->
  <link rel="stylesheet" href="/assets/css/owl.carousel.css">
  <!-- magnific popup -->
  <link rel="stylesheet" href="/assets/css/magnific-popup.css">
  <!-- animate css -->
  <link rel="stylesheet" href="/assets/css/animate.css">
  <!-- mean menu css -->
  <link rel="stylesheet" href="/assets/css/meanmenu.min.css">
  <!-- main style -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- responsive -->
  <link rel="stylesheet" href="/assets/css/responsive.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<body>

  <!--PreLoader-->
  <div class="loader">
    <div class="loader-inner">
      <div class="circle"></div>
    </div>
  </div>
  <!--PreLoader Ends-->

  <!-- header -->
  <div class="top-header-area" id="sticker">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 text-center">
          <div class="main-menu-wrap">
            <!-- logo -->
            <div class="site-logo">
              <a href="index.html">
                <img src="/assets/img/logo.png" alt="">
              </a>
            </div>
            <!-- logo -->

            <!-- menu start -->
            <nav class="main-menu">
              <ul>
                <li class="current-list-item"><a href="/">Home</a>
                  <!-- <ul class="sub-menu">
										<li><a href="index.html">Static Home</a></li>
										<li><a href="index_2.html">Slider Home</a></li>
									</ul> -->
                </li>
                <li><a href="/shop">Shop</a>
                  <!-- <ul class="sub-menu">
										<li><a href="/shop">Shop</a></li>
										<li><a href="checkout.html">Check Out</a></li>
										<li><a href="single-product.html">Single Product</a></li>
										<li><a href="cart.html">Cart</a></li>
									</ul> -->
                </li>
                <!-- <li><a href="about.html">Account</a></li> -->
                <!-- <li><a href="#">Pages</a>
									<ul class="sub-menu">
										<li><a href="404.html">404 page</a></li>
										<li><a href="about.html">About</a></li>
										<li><a href="cart.html">Cart</a></li>
										<li><a href="checkout.html">Check Out</a></li>
										<li><a href="contact.html">Contact</a></li>
										<li><a href="news.html">News</a></li>
										<li><a href="shop.html">Shop</a></li>
									</ul>
								</li>
								<li><a href="news.html">News</a>
									<ul class="sub-menu">
										<li><a href="news.html">News</a></li>
										<li><a href="single-news.html">Single News</a></li>
									</ul>
								</li> -->
                <!-- <li><a href="/contact">Contact</a></li> -->
                <%if (user){%>
									<li style="color:white; font-weight: 700;"> Hi <%= user.Username%>
											<ul class="sub-menu">
												<li><a href="/logout">logout</a></li>
												<li><a href="/profile">Profile</a></li>
												<li><a href="/order-details">Order</a></li>
											</ul>
									</li>
									<%}else{%>
										<li><a href="/login">Login</a></li>
										<%}%>

                <li>
                  <div class="header-icons">
                    <a class="shopping-cart" href="/cart"><i class="fas fa-shopping-cart"></i></a>
                    <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                  </div>
                </li>
              </ul>
            </nav>
            <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
            <div class="mobile-menu"></div>
            <!-- menu end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end header -->

  <!-- search area -->
  <div class="search-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <span class="close-btn"><i class="fas fa-window-close"></i></span>
          <div class="search-bar">
            <div class="search-bar-tablecell">
              <h3>Search For:</h3>
              <input type="text" placeholder="Keywords">
              <button type="submit">Search <i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end search arewa -->

  <!-- breadcrumb-section -->
  <div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <p>Fresh and Organic</p>
            <h1>ORDER</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end breadcrumb section -->

  <!-- cart -->



  <!-- // -->

  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">

        <header>
          <h1> Orders</h1>
          <!-- <p>View all orders from users</p> -->
        </header>


        <div class="container1">

          <div class="heading1">
            <!-- <div class="odetails-1">
                            <p><b>Order</b></p>
                            <p>
                                <%= product._id %>
                            </p>
                        </div>
                        <div class="odetails-2">
                            <p></p>
                        </div> -->

          </div>

          <hr>

          <% for(var i=0; i < product.length;i++){ %>


            <div class="card-containers">
              <div class="card">
                <div class="img">
                  <img src="<%=product[i].products.products.Image1%> " alt="">
                </div>
                <div class="parent">
                  <div class="content">
                    <div class="details-1">

                      <h6> Name: <%= product[i].products.products.Name %>
                      </h6>
                      <h6> Orginal Price: <%= product[i].products.products.Price %>
                      </h6>
                      <h6> Discounted Price: <% if(product[i].products.products.Price
                          !=product[i].products.products.ProductOffer || product[i].products.products.Price
                          !=product[i].products.products.CategoryOffer ){ %>
                          <% if (product[i].products.products.Price> product[i].products.products.CategoryOffer &&
                            product[i].products.products.ProductOffer >
                            product[i].products.products.CategoryOffer) { %>

                            <%=product[i].products.products.CategoryOffer%>
                              <%}%>




                                <% if (product[i].products.products.Price> product[i].products.products.ProductOffer &&
                                  product[i].products.products.CategoryOffer
                                  > product[i].products.products.ProductOffer) { %>
                                  <%=product[i].products.products.ProductOffer%>
                                    <%} else { %>

                                      <% } %>


                                        <% if (product[i].products.products.Price
                                          <=product[i].products.products.ProductOffer &&
                                          product[i].products.products.Price
                                          <=product[i].products.products.CategoryOffer) { %>
                                          <%=product[i].products.products.Price%>
                                            <%} else { %>

                                              <% } %>
                      </h6>
                      <%}%>
                       
                        <h6> Quantity: <%= product[i].products. quantity %>
                        </h6>


                    </div>
                    

                  </div>
                  
                  <div class="status">

                    <div class="sec1">
                      <h6>Status</h6>
                      <h6>
                        <%= product[i].products.status%>
                      </h6>

                    </div>
                    <div class="sec2">
                      <h6>paymentMethod:<%=product[i].paymentMethod%>
                      </h6>

                    </div>
                    
                  </div>
                  

                  <div class="status">
                    <div class="sec1">
                        <h6>Address</h6>
                       
                       
                        <h6><%= product[i].delivaryDetails.address%></h6>
                        <h6><%= product[i].delivaryDetails.pincode%></h6>
                        <h6><%= product[i].delivaryDetails.mobile%></h6>
                        
                    </div>
                </div>

                </div>

              </div>

              <!-- <hr> -->


            </div>
            <% if (product[i].products.status=='cancelled' ||product[i].products.status=='Delivered' ||product[i].products.status=='return' ){%>

              <%}else{%>
                <a style="cursor: pointer;" id="<%= product[i]._id%>"
                  onclick="cancelOrder('<%= product[i].products.products. _id %>','<%= product[i]._id%>')">❌ CANCEL
                  ORDER</a>
                <%}%>
                  <% if (product[i].products.status=='Delivered' ){%>
                    <a onclick="ReturnOrder('<%= product[i].products.products. _id %>','<%= product[i]._id%>') ">🚛
                      Retrun</a>
                    <%}%>
                      <!-- <div class="card-bottom"> -->
                      <!-- <% if (product[i].status !='cancelled' || product[i].status !='Shipped' ) { %>

                <button onclick="cancelOrder('<%=product[i]._id %>')">❌ CANCEL ORDER</button>
                <%}%> -->




                      <!-- <button>🤝 DELIVERED</button> -->


                      <!-- </div> -->
                      <% } %>

                        <h6 style="margin-left: 1000px;">Total: <i class="fa-solid fa-indian-rupee-sign"></i><span>
                            <%= product[0].totalAmount[0].total%>
                          </span></h6>
        </div>
      </div>


      <!-- cancel-Order -->
      <script>
        function cancelOrder(productID, orderid) {

          $.ajax({
            url: '/cncel-order?id=' + productID + '&orderid=' + orderid,

            method: 'post',
            success: (response) => {
              if (response.status === true) {
                alert('order cancelled')
                window.location.reload()
              } else {
                alert('failed')
              }
            }

          })
        }
      </script>

      <!-- DeliverderOrder -->
      <script>
        function DeliverderOrder(orderId) {
          $.ajax({
            url: '/deliver-order?id=' + orderId,
            method: 'put',
            success: (response) => {
              if (response.status) {
                window.location.reload()
              } else {
                alert('failed')
              }

            }
          })
        }
      </script>

      <!-- cancel-Order -->
      <!-- <script>
        function cancelOrder(orderId) {
          $.ajax({
            url: '/admin-cancel-order?id=' + orderId,
            method: 'put',
            success: (response) => {
              if (response.status) {
                window.location.reload()
              } else {
                alert('failed')
              }
            }

          })
        }
      </script> -->


      <!-- ReturnOrder-Order -->
      <script>
        function ReturnOrder(productID, orderid) {
          $.ajax({
            url: '/user-return?id=' + productID + '&orderid=' + orderid,
            method: 'post',
            success: (response) => {
              console.log(response);
              if (response.status === true) {
                alert('order Returned')
                window.location.reload()
              } else {
                alert('failed')
              }
            }

          })
        }
      </script>


      <!-- Deliver-Order -->
      <script>
        function delivered(orderId) {
          $.ajax({
            url: '/deliver-order?id=' + orderId,
            method: 'post',
            success: (response) => {
              if (response.deliveredOrder) {
                alert('order delivered')
                window.location.reload()
              } else {
                alert('failed')
              }
            }
          })
        }
      </script>



    </div>
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:../../partials/_footer.html -->
  <!-- <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021. Premium <a
          href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from
        BootstrapDash.
        All rights reserved.</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
          class="ti-heart text-danger ml-1"></i></span>
    </div>
  </footer> -->
  <!-- partial -->
  </div>

  <!-- // -->
  <!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  function Delete(id){
	
	Swal.fire({
title: 'Are you sure?',
text: "You won't be able to revert this!",
icon: 'warning',
showCancelButton: true,
confirmButtonColor: '#3085d6',
cancelButtonColor: '#d33',
confirmButtonText: 'Yes, delete it!'
}).then((result) => {
console.log(result);
if (result.isConfirmed) {
$.ajax({
  url:"/delete-address?id="+id,
  method:'delete'
})
Swal.fire(
  'Deleted!',
  'Your file has been deleted.',
  'success'
)
setTimeout(()=>{
  window.location.reload('/addressmanagement')
},1000)
}
})

  }
</script> -->



  <!-- end cart -->

  <!-- logo carousel -->
  <div class="logo-carousel-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="logo-carousel-inner">
            <div class="single-logo-item">
              <img src="/assets/img/company-logos/1.png" alt="">
            </div>
            <div class="single-logo-item">
              <img src="/assets/img/company-logos/2.png" alt="">
            </div>
            <div class="single-logo-item">
              <img src="/assets/img/company-logos/3.png" alt="">
            </div>
            <div class="single-logo-item">
              <img src="/assets/img/company-logos/4.png" alt="">
            </div>
            <div class="single-logo-item">
              <img src="/assets/img/company-logos/5.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end logo carousel -->

  <!-- footer -->
  <div class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-box about-widget">
            <h2 class="widget-title">About us</h2>
            <p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium
              doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-box get-in-touch">
            <h2 class="widget-title">Get in Touch</h2>
            <ul>
              <li>34/8, East Hukupara, Gifirtok, Sadan.</li>
              <li>support@fruitkha.com</li>
              <li>+00 111 222 3333</li>
            </ul>
          </div>
        </div>
        <!-- <div class="col-lg-3 col-md-6">
          <div class="footer-box pages">
            <h2 class="widget-title">Pages</h2>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="services.html">Shop</a></li>
              <li><a href="news.html">News</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div> -->
        <div class="col-lg-3 col-md-6">
          <div class="footer-box subscribe">
            <h2 class="widget-title">Subscribe</h2>
            <p>Subscribe to our mailing list to get the latest updates.</p>
            <form action="index.html">
              <input type="email" placeholder="Email">
              <button type="submit"><i class="fas fa-paper-plane"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end footer -->

  <!-- copyright -->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>, All Rights
            Reserved.<br>
            Distributed By - <a href="https://themewagon.com/">Themewagon</a>
          </p>
        </div>
        <div class="col-lg-6 text-right col-md-12">
          <div class="social-icons">
            <ul>
              <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end copyright -->
  <!-- sweeeet aler -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- jquery -->
  <script src="/assets/js/jquery-1.11.3.min.js"></script>
  <!-- bootstrap -->
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <!-- count down -->
  <script src="/assets/js/jquery.countdown.js"></script>
  <!-- isotope -->
  <script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
  <!-- waypoints -->
  <script src="/assets/js/waypoints.js"></script>
  <!-- owl carousel -->
  <script src="/assets/js/owl.carousel.min.js"></script>
  <!-- magnific popup -->
  <script src="/assets/js/jquery.magnific-popup.min.js"></script>
  <!-- mean menu -->
  <script src="/assets/js/jquery.meanmenu.min.js"></script>
  <!-- sticker js -->
  <script src="/assets/js/sticker.js"></script>
  <!-- main js -->
  <script src="/assets/js/main.js"></script>
  <style>
    .quantity-field {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 40px;
      margin: 0 auto;
    }

    .quantity-field .value-button {
      border: 1px solid #ddd;
      margin: 0px;
      width: 40px;
      height: 100%;
      padding: 0;
      background: #eee;
      outline: none;
      cursor: pointer;
    }

    .quantity-field .value-button:hover {
      background: rgb(230, 230, 230);
    }

    .quantity-field .value-button:active {
      background: rgb(210, 210, 210);
    }

    .quantity-field .decrease-button {
      margin-right: -4px;
      border-radius: 8px 0 0 8px;
    }

    .quantity-field .increase-button {
      margin-left: -4px;
      border-radius: 0 8px 8px 0;
    }

    .quantity-field .number {
      display: inline-block;
      text-align: center;
      border: none;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      margin: 0px;
      width: 40px;
      height: 100%;
      line-height: 40px;
      font-size: 11pt;
      box-sizing: border-box;
      background: white;
      font-family: calibri;
    }

    .quantity-field .number::selection {
      background: none;
    }

    /*
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
*/

    @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

    * {
      margin: 0;
      padding: 0;
      text-decoration: none;
      font-family: "Nunito", sans-serif;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
    }

    body {
      background: whitesmoke;
      overflow-x: hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;
      max-width: 100%;
      min-width: 360px;
    }

    body::-webkit-scrollbar {
      display: none;
    }

    hr {
      border: 0.5px solid rgb(235, 235, 235);
      margin: 0 30px;
    }

    header {
      margin-top: 40px;
      height: 40px;
    }

    header h1 {
      font-size: 36px;
      display: inline-block;
      opacity: 80%;
      text-align: center;
      padding: 10px 10px 10px 40px;
      vertical-align: middle;
    }

    header p {
      display: inline-block;
      font-size: 12px;
      padding: 10px;
      color: gray;
      vertical-align: middle;
      text-align: center;
    }

    .container1 {
      width: 96%;
      background: white;
      margin: 50px auto;
      position: relative;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      padding: 30px 20px 50px;
    }

    .heading1 {
      height: 60px;
      position: relative;
    }

    .odetails-1 {
      background: rgb(225, 225, 225);
      padding: 6px 14px;
      display: inline;
      border: none;
      border-radius: 20px;
    }

    .odetails-1 p {
      display: inline-block;
      font-size: 13px;
    }

    .odetails-1 p:nth-child(2) {
      color: blue;
    }

    .odetails-2 {
      margin-top: 10px;
      display: inline-block;
    }

    .odetails-2 p {
      color: gray;
      display: inline;
      font-size: 12px;
      margin-left: 20px;
    }

    .heading1 button {
      position: absolute;
      top: -5px;
      right: 0;
      margin-right: 10px;
      background: #644dbd;
      outline: none;
      border: none;
      cursor: pointer;
      font-size: 12px;
      padding: 8px 20px 8px 32px;
      color: white;
      border-radius: 20px;
    }

    .heading1 button i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
      left: 10px;
    }

    .card-container {
      width: 100%;
      position: relative;
      margin-top: 20px;
    }

    .card {
      height: 188px;
      width: 96%;
      margin: 11px;
      position: relative;
      display: block;
      cursor: pointer;
      overflow: hidden;
      transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .card .img {
      width: 150px;
      height: 150px;
      display: inline;
    }

    .card .img img {
      width: 140px;
      height: 140px;
    }

    .card .parent {
      position: absolute;
      left: 150px;
      top: 0;
    }

    .card .content {
      position: relative;
      width: 240px;
      display: inline-block;
      padding: 10px 10px;
      overflow-wrap: break-word;
      hyphens: auto;
      vertical-align: top;
    }

    .card .content .details-1 {
      width: 200px;
      display: block;
    }

    .card .content .details-1 h1 {
      font-size: 13px;
      width: 100%;
    }

    .card .content .details-1 p {
      font-size: 11px;
      color: gray;
      margin-top: 5px;
      width: 100%;
    }

    .card .content .details-2 {
      display: block;
      margin-top: 30px;
    }

    .card .content .details-2 p {
      display: inline;
      color: gray;
      font-size: 12px;
    }

    .card .content .details-2 p:nth-child(3) {
      display: inline;
      color: gray;
      font-size: 12px;
      padding-left: 5px;
    }

    .card .content .details-2 p:nth-child(3) {
      color: black;
      padding-left: 8px;
    }

    .status {
      display: inline-block;
      width: 200px;
      padding: 10px 10px;
      margin-left: 40px;
    }

    .status .sec1 {
      display: block;
    }

    .status .sec1 p {
      color: gray;
      font-size: 12px;
    }

    .status .sec1 h2 {
      color: #644dbd;
      font-size: 16px;
    }

    .status .sec2 {
      display: block;
      margin-top: 15px;
    }

    .status .sec2 p {
      color: gray;
      font-size: 12px;
    }

    .status .sec2 h3 {
      color: #644dbd;
      font-size: 16px;
    }

    .card-bottom {
      width: 100%;
      position: absolute;
      left: 50%;
      bottom: 8px;
      transform: translateX(-50%);
    }

    .card-bottom button {
      background: none;
      outline: none;
      border: none;
      border-right: 2px solid rgb(235, 235, 235);
      padding: 10px 14px;
      color: gray;
      font-size: 12px;
      cursor: pointer;
      margin-left: 20px;
      display: inline;
    }

    .card-bottom h1 {
      font-size: 15px;
      display: inline;
      float: right;
      opacity: 88%;
      padding: 8px 10px;
      margin-right: 20px;
    }

    @media screen and (max-width: 800px) {
      .container {
        padding: 30px 10px 50px;
      }

      .heading1 button p {
        display: none;
      }

      .heading1 button {
        padding: 18px;
        border-radius: 50%;
      }

      .heading1 button i {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .card .content .details-1 {
        width: 160px;
      }

      .status {
        display: none;
      }

      .card.toggle {
        height: 300px;
        transform-origin: top;
        transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      .card.toggle .status {
        display: block;
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
        text-align: start;
      }

      .card .content .details-2 {
        margin-top: 20px;
      }

      .card .content .details-2 p:nth-child(3) {
        padding: 0;
        display: block;
        margin-top: 5px;
      }

      .odetails-2 {
        display: block;
      }

      header p {
        padding: 0 0 0 40px;
      }

      .container1 {
        margin-top: 70px;
      }
    }
  </style>


</body>

</html>